<div class="container"  ng-controller="mainController">
		
			<!-- HEADER AND TODO COUNT -->
			<div class="jumbotron text-center">
				<h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
			</div>
			<!-- TODO LIST -->
			<div id="todo-list" class="row">
				<div class="col-sm-4 col-sm-offset-4">
					
					<!-- LOOP OVER THE TODOS IN $scope.todos -->
					<div class="checkbox" ng-repeat="todo in todos">
						<label>
							<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
						</label>
					</div>
					<p class="text-center" ng-show="loading">
						<span class="fa fa-spinner fa-spin fa-3x"></span>
					</p>
				</div>
			</div>
			<!-- FORM TO CREATE TODOS -->
			<div id="todo-form" class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<form>
						<div class="form-group">
							<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
							<input type="text" class="form-control input-lg text-center" placeholder="Add TODO" ng-model="formData.text">
						</div>
						<!-- createToDo() WILL CREATE NEW TODOS -->
						<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
					</form>
				</div>
			</div>
			<div class="text-center text-muted">
				<p>A demo by <a href="#">Kunal Rai</a>.</p>
				<p>download source <a href="https://github.com/kunalrai/todo-app">here</a></a>.</p>
			</div>
		</div>